@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

@font-face {
  font-family: 'Helvetica Neue Cyr Bold';
  src: url("./../fonts/HelveticaNeueCyr-Bold.eot");
  src: url("./../fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("./../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("./../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica Neue Cyr Medium';
  src: url("./../fonts/HelveticaNeueCyr-Medium.eot");
  src: url("./../fonts/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("./../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("./../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica Neue Cyr Thin';
  src: url("./../fonts/HelveticaNeueCyr-Thin.eot");
  src: url("./../fonts/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), url("./../fonts/HelveticaNeueCyr-Thin.woff") format("woff"), url("./../fonts/HelveticaNeueCyr-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
h1, h3, h4, p, a {
  font-family: 'Helvetica Neue Cyr Medium', sans-serif; }

h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-family: "Helvetica Neue Cyr Bold", sans-serif;
  color: #4a4e66; }

a.more {
  font-size: 20px;
  font-family: "Helvetica Neue Cyr Bold", sans-serif;
  color: #0165fb;
  text-decoration: none;
  /* Убираем подчеркивание */
  border-bottom: dashed; }

.container {
  max-width: 1161px;
  margin: 0 auto;
  padding: 10px; }

.circle {
  width: 45px;
  height: 22px;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  position: relative; }

button.podobrat {
  border: none;
  background: #ffde3b;
  color: black;
  cursor: pointer;
  padding: 20px 60px;
  border-radius: 8px;
  font-size: 22px;
  outline: none; }

header .header_top {
  background: #e8e9ef; }
  header .header_top .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .header_top .container .logo {
      display: flex;
      flex-direction: column;
      height: 100%; }
      header .header_top .container .logo img {
        width: 100%; }
      header .header_top .container .logo p {
        margin-top: 8px; }
    header .header_top .container a {
      text-decoration: none;
      color: black;
      font-weight: bold; }
header .main_desc {
  background: url("./../img/head.png") no-repeat center center;
  background-size: cover; }
  header .main_desc .container .main_menu {
    margin-top: 10px; }
    header .main_desc .container .main_menu ul {
      display: flex;
      list-style: none;
      justify-content: space-between; }
      header .main_desc .container .main_menu ul li a {
        text-decoration: none;
        color: white;
        font-size: 17px;
        transition: all 0.2s;
        font-family: 'Helvetica Neue Cyr Thin', sans-serif; }
        header .main_desc .container .main_menu ul li a:hover {
          font-weight: bold; }
  header .main_desc .container .main_desc_text {
    width: 50%; }
    header .main_desc .container .main_desc_text h1 {
      text-transform: uppercase;
      margin: 62px 0;
      color: #ffffff;
      font-size: 55px; }
    header .main_desc .container .main_desc_text h3 {
      font-size: 20px;
      padding: 13px 30px 13px 25px;
      margin-top: 10px;
      display: inline-block;
      background: #ffffff;
      border-radius: 5px; }
      header .main_desc .container .main_desc_text h3 span {
        color: #209F01; }
    header .main_desc .container .main_desc_text .text {
      margin-top: 110px;
      font-size: 28px;
      color: #FFFFFF;
      width: 339px;
      text-align: right; }
  header .main_desc .container button.header_button.podobrat {
    border: none;
    border-radius: 5px;
    background: #ffde3b;
    color: black;
    position: relative;
    left: calc(50% - 100px);
    bottom: 80px;
    font-size: 22px; }
header .header_bottom .container {
  padding-bottom: 58px;
  display: flex;
  align-items: center;
  flex-direction: column; }
  header .header_bottom .container .header_bottom_block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
    header .header_bottom .container .header_bottom_block .header_bottom_desc {
      display: flex;
      padding: 5px;
      align-items: center; }
      header .header_bottom .container .header_bottom_block .header_bottom_desc .image {
        margin-right: 20px;
        height: 80px;
        width: 80px; }
  header .header_bottom .container .header_bottom_reklama {
    margin-top: 60px;
    border-radius: 10px;
    width: 100%;
    height: 241px;
    background: url("./../img/nivelir.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 10px; }
    header .header_bottom .container .header_bottom_reklama .reklama_desc {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-around; }
      header .header_bottom .container .header_bottom_reklama .reklama_desc .reklama_item {
        display: flex;
        flex-wrap: wrap; }
        header .header_bottom .container .header_bottom_reklama .reklama_desc .reklama_item img {
          margin-right: 25px;
          width: 32px;
          height: 32px; }
        header .header_bottom .container .header_bottom_reklama .reklama_desc .reklama_item h3 {
          color: white;
          font-family: 'Helvetica Neue Cyr', sans-serif; }
        header .header_bottom .container .header_bottom_reklama .reklama_desc .reklama_item p {
          color: white;
          font-family: "Helvetica Neue Cyr Thin", sans-serif; }
  header .header_bottom .container .circle {
    background: white;
    top: 77px; }

.wrapper .septics {
  background: #e8e9ef; }
  .wrapper .septics .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 10px 18px; }
    .wrapper .septics .container h2 {
      color: #ff8400;
      margin-bottom: 20px; }
    .wrapper .septics .container h3 {
      text-transform: uppercase;
      font-weight: normal; }
    .wrapper .septics .container .septics_sale {
      margin: 50px 0 65px;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 40px; }
      .wrapper .septics .container .septics_sale .septic {
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
        padding: 5px; }
        .wrapper .septics .container .septics_sale .septic h3 {
          font-weight: bold;
          font-size: 24px;
          margin-bottom: 20px; }
        .wrapper .septics .container .septics_sale .septic .septic_desc {
          margin: 20px 0;
          font-size: 20px;
          text-align: center; }
          .wrapper .septics .container .septics_sale .septic .septic_desc h4 {
            font-family: "Helvetica Neue Cyr Bold", sans-serif; }
          .wrapper .septics .container .septics_sale .septic .septic_desc p {
            color: #209F01;
            font-family: "Helvetica Neue Cyr Bold", sans-serif; }
        .wrapper .septics .container .septics_sale .septic button.podobrat {
          width: 100%;
          border-radius: 10px; }
        .wrapper .septics .container .septics_sale .septic .septic_img {
          width: 100%;
          height: 200px; }
        .wrapper .septics .container .septics_sale .septic .septic_img.img1 {
          background: url("./../img/twer.png") no-repeat center center;
          background-size: contain; }
        .wrapper .septics .container .septics_sale .septic .septic_img.img2 {
          background: url("./../img/eurolos.png") no-repeat center center;
          background-size: contain; }
        .wrapper .septics .container .septics_sale .septic .septic_img.img3 {
          background: url("./../img/topas.png") no-repeat center center;
          background-size: contain; }
        .wrapper .septics .container .septics_sale .septic .septic_img.img4 {
          background: url("./../img/deka.png") no-repeat center center;
          background-size: contain; }
        .wrapper .septics .container .septics_sale .septic .septic_img.img5 {
          background: url("./../img/zore.png") no-repeat center center;
          background-size: contain; }
        .wrapper .septics .container .septics_sale .septic .septic_img.img6 {
          background: url("./../img/septix_hz.png") no-repeat center center; }
    .wrapper .septics .container .circle {
      top: 40px;
      background: #e8e9ef; }
.wrapper .smeta .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 10px; }
  .wrapper .smeta .container h2 {
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .wrapper .smeta .container h3 {
    font-family: 'Helvetica Neue Cyr Thin';
    font-size: 20px;
    text-transform: uppercase; }
  .wrapper .smeta .container .smeta_block {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .wrapper .smeta .container .smeta_block .smeta_block__septic {
      padding: 5px; }
      .wrapper .smeta .container .smeta_block .smeta_block__septic .smeta_block__septik_img {
        width: 100%;
        height: 270px;
        background: url("./../img/zore.png") no-repeat center center;
        background-size: contain;
        margin-bottom: 22px; }
      .wrapper .smeta .container .smeta_block .smeta_block__septic p {
        font-size: 18px;
        font-family: 'Helvetica Neue Cyr', sans-serif; }
        .wrapper .smeta .container .smeta_block .smeta_block__septic p span {
          font-family: 'Helvetica Neue Cyr Bold', sans-serif; }
      .wrapper .smeta .container .smeta_block .smeta_block__septic button.podrobnee {
        margin-top: 30px;
        width: 100%;
        height: 62px;
        border-radius: 8px;
        background: #ffde3b;
        font-size: 22px;
        font-family: 'Helvetica Neue Cyr Medium', sans-serif; }
    .wrapper .smeta .container .smeta_block .smeta_block__smeta {
      width: 70%; }
      .wrapper .smeta .container .smeta_block .smeta_block__smeta table {
        border: 1px solid grey;
        border-radius: 8px;
        border-collapse: collapse;
        width: 100%;
        height: 100%; }
        .wrapper .smeta .container .smeta_block .smeta_block__smeta table td {
          border: 1px solid grey;
          width: 95px;
          padding-left: 15px;
          font-family: "Helvetica Neue Cyr Medium"; }
        .wrapper .smeta .container .smeta_block .smeta_block__smeta table td[data-label="Наим-е работ/материалов"] {
          width: 250px; }
        .wrapper .smeta .container .smeta_block .smeta_block__smeta table th {
          border: 1px solid grey;
          width: 95px;
          font-family: "Helvetica Neue Cyr Medium"; }
        .wrapper .smeta .container .smeta_block .smeta_block__smeta table thead tr {
          height: 50px;
          padding-left: 0; }
  .wrapper .smeta .container a {
    margin: 50px 0; }
  .wrapper .smeta .container .gus {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #e8e9ef;
    border-radius: 10px; }
    .wrapper .smeta .container .gus img {
      height: 100%; }
    .wrapper .smeta .container .gus .gus_desc {
      display: flex;
      width: 50%;
      flex-direction: column; }
      .wrapper .smeta .container .gus .gus_desc h3 {
        font-size: 20px;
        color: #209F01;
        font-family: "Helvetica Neue Cyr Bold", sans-serif;
        margin-bottom: 20px; }
        .wrapper .smeta .container .gus .gus_desc h3 span {
          color: #4a4e66; }
      .wrapper .smeta .container .gus .gus_desc p {
        line-height: 25px;
        font-family: 'Helvetica Neue Cyr', sans-serif;
        color: #4a4e66; }
    .wrapper .smeta .container .gus button {
      padding: 20px 30px;
      background: #ffde3b; }
.wrapper .our_objects .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 10px 38px; }
  .wrapper .our_objects .container h2 {
    text-transform: uppercase;
    font-size: 32px; }
  .wrapper .our_objects .container .our_objects__block {
    margin-top: 60px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between; }
    .wrapper .our_objects .container .our_objects__block .object {
      background: #e8e9ef;
      padding: 18px 0 20px;
      border-radius: 8px; }
      .wrapper .our_objects .container .our_objects__block .object img {
        width: 100%; }
      .wrapper .our_objects .container .our_objects__block .object p {
        text-align: center;
        padding: 20px;
        font-size: 18px;
        font-family: 'Helvetica Neue Cyr Bold', sans-serif; }
  .wrapper .our_objects .container a {
    margin: 50px 0;
    color: #0165fb;
    font-size: 20px; }
  .wrapper .our_objects .container button {
    padding: 24px 60px;
    border-radius: 8px;
    font-size: 22px;
    font-family: 'Helvetica Neue Cyr Medium', sans-serif;
    background: #ffde3b; }
  .wrapper .our_objects .container .circle {
    background: white;
    top: 60px; }
.wrapper .questions {
  background: #e8e9ef; }
  .wrapper .questions .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 10px; }
    .wrapper .questions .container h2 {
      text-transform: uppercase;
      margin-bottom: 60px; }
    .wrapper .questions .container .questions_block {
      width: 100%; }
      .wrapper .questions .container .questions_block .tab {
        border-radius: 3px;
        /* Скругляем уголки */
        margin-bottom: 10px;
        /* Расстояние между пунктами */ }
        .wrapper .questions .container .questions_block .tab .tab-title {
          font-family: 'Helvetica Neue Cyr Bold', sans-serif;
          background: white;
          color: black;
          text-transform: uppercase;
          cursor: pointer;
          display: flex;
          padding: 20px;
          align-items: center;
          justify-content: space-between; }
          .wrapper .questions .container .questions_block .tab .tab-title .icon_menu {
            position: relative;
            width: 14px; }
            .wrapper .questions .container .questions_block .tab .tab-title .icon_menu:after {
              content: "";
              border: 8px solid transparent;
              border-top: 10px solid grey;
              position: absolute; }
        .wrapper .questions .container .questions_block .tab .tab-content {
          height: 0;
          opacity: 0;
          display: none;
          transition: .1s all linear;
          font-family: 'Helvetica Neue Cyr', sans-serif;
          line-height: 22px; }
        .wrapper .questions .container .questions_block .tab input {
          display: none; }
          .wrapper .questions .container .questions_block .tab input:checked ~ .tab-content {
            height: 100%;
            opacity: 1;
            padding: 20px; }
          .wrapper .questions .container .questions_block .tab input:checked ~ .tab-title {
            color: #FF8400; }
            .wrapper .questions .container .questions_block .tab input:checked ~ .tab-title .icon_menu:after {
              border-top: none;
              border-bottom: 10px solid #FF8400; }
          .wrapper .questions .container .questions_block .tab input:checked ~ .tab-content {
            height: auto;
            opacity: 1;
            padding: 20px;
            display: block; }
    .wrapper .questions .container .circle {
      top: 100px;
      background: #e8e9ef; }
.wrapper .garanties .container {
  padding: 80px 10px 90px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .wrapper .garanties .container .garanties_head {
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: url("./../img/bg_gar_head.png") no-repeat center center;
    background-size: cover;
    padding: 50px 60px 50px 80px; }
    .wrapper .garanties .container .garanties_head img {
      width: 114px;
      height: 100%; }
    .wrapper .garanties .container .garanties_head .garanties_head__text {
      display: flex;
      flex-direction: column;
      width: 45%; }
      .wrapper .garanties .container .garanties_head .garanties_head__text h2 {
        font-size: 52px;
        color: white;
        text-transform: none; }
      .wrapper .garanties .container .garanties_head .garanties_head__text h3 {
        color: white;
        margin-top: 8px;
        font-family: 'Helvetica Neue Cyr', sans-serif; }
      .wrapper .garanties .container .garanties_head .garanties_head__text p {
        margin-top: 15px;
        font-family: "Helvetica Neue Cyr Thin", sans-serif;
        color: white; }
    .wrapper .garanties .container .garanties_head .garanties_head__button {
      display: flex;
      flex-direction: column;
      font-size: 22px;
      font-family: 'Helvetica Neue Cyr Medium', sans-serif; }
      .wrapper .garanties .container .garanties_head .garanties_head__button input {
        padding: 20px 25px;
        border: none;
        border-radius: 8px;
        align-items: center;
        color: #4a4e66;
        font-size: 20px; }
      .wrapper .garanties .container .garanties_head .garanties_head__button a {
        text-align: center;
        padding: 20px 25px;
        background: #ffde3b;
        font-size: 22px;
        border: none;
        border-radius: 8px;
        align-items: center;
        margin-top: 15px;
        text-decoration: none;
        color: black; }
  .wrapper .garanties .container .garanties_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0; }
    .wrapper .garanties .container .garanties_wrap .garanties_wrap__desc {
      width: 100%;
      display: flex;
      margin-top: 60px; }
      .wrapper .garanties .container .garanties_wrap .garanties_wrap__desc img {
        width: 50%;
        border-radius: 8px; }
      .wrapper .garanties .container .garanties_wrap .garanties_wrap__desc .garanties_wrap__text {
        justify-content: space-between;
        padding: 20px 0 0 50px;
        display: flex;
        flex-direction: column; }
        .wrapper .garanties .container .garanties_wrap .garanties_wrap__desc .garanties_wrap__text p {
          font-family: "Helvetica Neue Cyr", sans-serif;
          font-size: 18px; }
          .wrapper .garanties .container .garanties_wrap .garanties_wrap__desc .garanties_wrap__text p span {
            font-weight: bold; }
        .wrapper .garanties .container .garanties_wrap .garanties_wrap__desc .garanties_wrap__text button {
          margin-left: auto;
          background: #209F01; }
  .wrapper .garanties .container .pechat {
    position: absolute;
    width: 180px;
    height: 170px;
    margin-top: 640px;
    left: 45%; }
  .wrapper .garanties .container .garanties_bottom {
    width: 100%; }
    .wrapper .garanties .container .garanties_bottom .garanties_bottom__blocks {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 50px;
      padding: 0px 10px; }
      .wrapper .garanties .container .garanties_bottom .garanties_bottom__blocks .block {
        width: 32%;
        border-radius: 10px;
        padding: 35px 45px;
        padding-bottom: 0;
        color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .wrapper .garanties .container .garanties_bottom .garanties_bottom__blocks .block h3 {
          font-family: 'Helvetica Neue Cyr', sans-serif;
          font-size: 24px; }
      .wrapper .garanties .container .garanties_bottom .garanties_bottom__blocks .bl_1, .wrapper .garanties .container .garanties_bottom .garanties_bottom__blocks .bl_3 {
        background: #FF8400; }
      .wrapper .garanties .container .garanties_bottom .garanties_bottom__blocks .bl_2 {
        background: #42ac28; }
  .wrapper .garanties .container .circle {
    background: white;
    top: 112px; }
.wrapper .wy_we {
  background: #e8e9ef; }
  .wrapper .wy_we .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 58px; }
    .wrapper .wy_we .container h2 {
      text-transform: uppercase;
      font-family: "Helvetica Neue Cyr Bold"; }
    .wrapper .wy_we .container .wy_we__block {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 80px; }
      .wrapper .wy_we .container .wy_we__block .item_we {
        width: 45%;
        display: flex;
        padding: 5px;
        align-items: center; }
        .wrapper .wy_we .container .wy_we__block .item_we:nth-child(n + 3) {
          margin-top: 65px; }
        .wrapper .wy_we .container .wy_we__block .item_we img {
          width: 65px;
          margin-right: 30px; }
        .wrapper .wy_we .container .wy_we__block .item_we .item_we_desc h3 {
          font-size: 22px;
          font-family: "Helvetica Neue Cyr Bold", sans-serif; }
    .wrapper .wy_we .container .circle {
      background: #e8e9ef;
      top: 80px; }
.wrapper .reviews .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px 10px 53px; }
  .wrapper .reviews .container .reviews__block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    margin: 75px 0 50px; }
    .wrapper .reviews .container .reviews__block .reviews__item {
      width: 30%;
      border: 1px solid grey;
      padding: 10px 30px 30px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      .wrapper .reviews .container .reviews__block .reviews__item img {
        width: 120px;
        position: relative;
        top: -25px;
        border-radius: 10px; }
      .wrapper .reviews .container .reviews__block .reviews__item h3 {
        color: #4a4e66;
        font-size: 18px; }
      .wrapper .reviews .container .reviews__block .reviews__item p.user_level {
        font-style: italic;
        color: #4a4e66;
        margin-top: 10px; }
      .wrapper .reviews .container .reviews__block .reviews__item p {
        margin-top: 20px;
        font-size: 16px;
        font-family: 'Helvetica Neue Cyr', sans-serif;
        color: black; }
  .wrapper .reviews .container a {
    font-size: 20px;
    font-family: "Helvetica Neue Cyr Bold", sans-serif;
    color: #0165fb; }
  .wrapper .reviews .container .circle {
    background: white;
    top: 75px; }
.wrapper .about_company {
  background: #e8ecef; }
  .wrapper .about_company .container {
    padding: 80px 10px 58px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .wrapper .about_company .container .about_company_desc {
      margin: 60px 0;
      display: flex;
      width: 100%;
      height: 300px; }
      .wrapper .about_company .container .about_company_desc .img_company {
        width: 100%;
        margin-right: 65px;
        background: url("./../img/about_company.png") no-repeat center center;
        background-size: cover;
        border-radius: 10px; }
      .wrapper .about_company .container .about_company_desc .about_company_desc_text {
        display: flex;
        flex-direction: column; }
        .wrapper .about_company .container .about_company_desc .about_company_desc_text .about_company__text1 {
          margin-bottom: 20px; }
        .wrapper .about_company .container .about_company_desc .about_company_desc_text p {
          line-height: 30px;
          font-size: 18px;
          font-family: 'Helvetica Neue Cyr', sans-serif; }
    .wrapper .about_company .container button {
      padding: 30px 60px;
      border-radius: 8px;
      background: #ffde3b;
      font-size: 22px; }
    .wrapper .about_company .container .circle {
      background: #e8e9ef;
      top: 80px; }
.wrapper .contacts .container {
  padding: 75px 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .wrapper .contacts .container h3 {
    margin-top: 24px;
    font-size: 20px;
    font-family: "Helvetica Neue Cyr Thin", sans-serif; }
  .wrapper .contacts .container .contacts_block {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 45px;
    border: 1px solid #e8e9ef;
    border-radius: 10px;
    line-height: 50px;
    font-size: 18px;
    margin-top: 100px;
    background: white;
    z-index: 1; }
    .wrapper .contacts .container .contacts_block a {
      text-decoration: none;
      color: #4a4e66; }
      .wrapper .contacts .container .contacts_block a i {
        margin-right: 25px; }
    .wrapper .contacts .container .contacts_block .address {
      display: flex;
      align-items: center; }
      .wrapper .contacts .container .contacts_block .address p {
        color: #4a4e66; }
      .wrapper .contacts .container .contacts_block .address img {
        width: 25px;
        display: inline-block;
        color: #4a4e66;
        margin-right: 25px; }

footer {
  background: #4a4e66; }
  footer .container {
    padding: 50px 10px; }
    footer .container .main_menu ul {
      display: flex;
      list-style: none;
      justify-content: space-between; }
      footer .container .main_menu ul li a {
        text-decoration: none;
        font-family: "Helvetica Neue Cyr Thin", sans-serif;
        color: white;
        font-size: 17px;
        transition: all 0.2s; }
        footer .container .main_menu ul li a:hover {
          font-weight: bold; }
    footer .container .logo_addr {
      margin-top: 65px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      footer .container .logo_addr button {
        padding: 20px 60px;
        border-radius: 8px;
        background: #ffde3b;
        font-size: 22px; }
      footer .container .logo_addr .address {
        display: flex;
        align-items: center; }
        footer .container .logo_addr .address img {
          margin-right: 65px;
          height: 45px; }
        footer .container .logo_addr .address .address_contact {
          display: flex;
          flex-direction: column;
          line-height: 25px; }
          footer .container .logo_addr .address .address_contact a {
            text-decoration: none;
            color: #e8e9ef;
            font-family: "Helvetica Neue Cyr Thin", sans-serif; }

@media screen and (max-width: 1073px) {
  header .header_bottom .container .header_bottom_block {
    justify-content: space-around; }
    header .header_bottom .container .header_bottom_block:last-child {
      margin: 0 auto; } }
@media screen and (max-width: 996px) {
  header .header_bottom .container .header_bottom_reklama {
    align-items: flex-end; }

  .wrapper .wy_we .container .wy_we__block .item_we:nth-child(n + 3) {
    margin-top: 30px; } }
@media screen and (max-width: 944px) {
  .wrapper .our_objects .container .our_objects__block {
    flex-wrap: wrap; }
    .wrapper .our_objects .container .our_objects__block:last-child {
      margin: 0 auto; } }

/*# sourceMappingURL=style.css.map */
