* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Bold';
  src: url('./../fonts/HelveticaNeueCyr-Bold.eot');
  src: url('./../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('./../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('./../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Medium';
  src: url('./../fonts/HelveticaNeueCyr-Medium.eot');
  src: url('./../fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url('./../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
  url('./../fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Cyr Thin';
  src: url('./../fonts/HelveticaNeueCyr-Thin.eot');
  src: url('./../fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
  url('./../fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
  url('./../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




h1, h3, h4, p, a {
  font-family: 'Helvetica Neue Cyr Medium', sans-serif;
}

h2 {
  font-size: 32px;
  text-transform: uppercase;
  font-family: "Helvetica Neue Cyr Bold", sans-serif;
  color: #4a4e66;
}

a.more {
  font-size: 20px;
  font-family: "Helvetica Neue Cyr Bold", sans-serif;
  color: #0165fb;
  text-decoration: none; /* Убираем подчеркивание */
  border-bottom: dashed;
}

.container {
  max-width: 1161px;
  margin: 0 auto;
  padding: 10px;
}

.circle {
  width: 45px;
  height: 22px;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  position: relative;
}

button.podobrat {
  border: none;
  background: #ffde3b;
  color: black;
  cursor: pointer;
  padding: 20px 60px;
  border-radius: 8px;
  font-size: 22px;
  outline: none;
}

header {
  .header_top {
    //height: 100px;
    background: #e8e9ef;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        display: flex;
        flex-direction: column;
        height: 100%;
        img {
          width: 100%;
        }
        p {
          margin-top: 8px;
        }
      }
      a {
        text-decoration: none;
        color: black;
        font-weight: bold;
      }
    }
  }
  .main_desc {
    background: url('./../img/head.png') no-repeat center center;
    background-size: cover;

    .container {
      .main_menu {
        margin-top: 10px;
        ul {
          display: flex;
          list-style: none;
          justify-content: space-between;
          li {
            a {
              text-decoration: none;
              color: white;
              font-size: 17px;
              transition: all 0.2s;
              font-family: 'Helvetica Neue Cyr Thin', sans-serif;
              &:hover {
                font-weight: bold;
              }
            }
          }
        }
      }
      .main_desc_text {
        width: 50%;
        h1 {
          text-transform: uppercase;
          margin: 62px 0;
          color: #ffffff;
          font-size: 55px;
        }
        h3 {
          font-size: 20px;
          padding: 13px 30px 13px 25px;
          margin-top: 10px;
          display: inline-block;
          background: #ffffff;
          border-radius: 5px;
          span {
            color: #209F01;
          }
        }
        .text {
          margin-top: 110px;
          font-size: 28px;
          color: #FFFFFF;
          width: 339px;
          text-align: right;
        }
      }
      button.header_button.podobrat {
        //width: 301px;
        //height: 73px;
        border: none;
        border-radius: 5px;
        background: #ffde3b;
        color: black;
        position: relative;
        left: calc(50% - 100px);
        bottom: 80px;
        font-size: 22px;
      }
    }
  }
  .header_bottom {
    .container {
      padding-bottom: 58px;
      display: flex;
      align-items: center;
      flex-direction: column;
      .header_bottom_block {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .header_bottom_desc {
          display: flex;
          padding: 5px;
          align-items: center;
          .image {
            margin-right: 20px;
            height: 80px;
            width: 80px;
          }
        }
      }
      .header_bottom_reklama {
        margin-top: 60px;
        border-radius: 10px;
        width: 100%;
        height: 241px;
        background: url("./../img/nivelir.png");
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 10px;
        .reklama_desc {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-around;
          .reklama_item {
            display: flex;
            flex-wrap: wrap;
            img {
              margin-right: 25px;
              width: 32px;
              height: 32px;
            }
            h3 {
              color: white;
              font-family: 'Helvetica Neue Cyr Medium', sans-serif;
            }
            p {
              color: white;
              font-family: "Helvetica Neue Cyr Thin", sans-serif;
            }
          }
        }
      }
      .circle {
        background: white;
        top: 77px;
      }
    }
  }
}

.wrapper {
  .septics {
    background: #e8e9ef;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 65px 10px 18px;
      h2 {
        color: #ff8400;
        margin-bottom: 20px;
      }
      h3 {
        text-transform: uppercase;
        font-weight: normal;
      }
      .septics_sale {
        margin: 50px 0 65px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 40px;

        .septic {
          justify-self: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 85%;
          padding: 5px;
          h3 {
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 20px;
          }
          .septic_desc {
            margin: 20px 0;
            font-size: 20px;
            text-align: center;
            h4 {

              font-family: "Helvetica Neue Cyr Bold", sans-serif;
            }
            p {
              color: #209F01;
              font-family: "Helvetica Neue Cyr Bold", sans-serif;
            }
          }

          button.podobrat {
            width: 100%;
            //height: 55px;
            border-radius: 10px;
          }
          .septic_img {
            width: 100%;
            height: 200px;
          }
          .septic_img.img1 {
            background: url("./../img/twer.png") no-repeat center center;
            background-size: contain;
          }
          .septic_img.img2 {
            background: url("./../img/eurolos.png") no-repeat center center;
            background-size: contain;
          }
          .septic_img.img3 {
            background: url("./../img/topas.png") no-repeat center center;
            background-size: contain;
          }
          .septic_img.img4 {
            background: url("./../img/deka.png") no-repeat center center;
            background-size: contain;
          }
          .septic_img.img5 {
            background: url("./../img/zore.png") no-repeat center center;
            background-size: contain;
          }
          .septic_img.img6 {
            background: url("./../img/septix_hz.png") no-repeat center center;
          }

        }
      }
      .circle {
        top: 40px;
        background: #e8e9ef;
      }
    }
  }

  .smeta {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 80px 10px;
      h2 {
        font-size: 32px;
        text-transform: uppercase;
        margin-bottom: 20px;

      }
      h3 {
        font-family: 'Helvetica Neue Cyr Thin';
        font-size: 20px;
        text-transform: uppercase;
      }
      .smeta_block {
        margin-top: 70px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        .smeta_block__septic {
          padding: 5px;
          .smeta_block__septik_img {
            width: 100%;
            height: 270px;
            background: url("./../img/zore.png") no-repeat center center;
            background-size: contain;
            margin-bottom: 22px;
          }
          p {
            font-size: 18px;
            font-family: 'Helvetica Neue Cyr Thin', sans-serif;

            span {
              font-family: 'Helvetica Neue Cyr Bold', sans-serif;
            }
          }
          button.podrobnee {
            margin-top: 30px;
            width: 100%;
            height: 62px;
            border-radius: 8px;
            background: #ffde3b;
            font-size: 22px;
            font-family: 'Helvetica Neue Cyr Medium', sans-serif;
          }
        }
        .smeta_block__smeta {
          width: 70%;
          table {
            border: 1px solid grey;
            border-radius: 8px;
            //table-layout: fixed;
            border-collapse: collapse;
            width: 100%;
            height: 100%;
            thead {
              tr {
                height: 50px;
              }

            }
            th, td {
              border: 1px solid grey;
              width: 95px;
              padding-left: 15px;
              font-family: "Helvetica Neue Cyr Medium";
            }
            td[data-label="Наим-е работ/материалов"] {
              padding-left: 20px;
              width: 250px;
            }
          }
        }
      }
      a {
        margin: 50px 0;
      }
      .gus {
        width: 100%;
        padding: 0 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #e8e9ef;
        border-radius: 10px;
        img {
          height: 100%;
          //margin-right: 40px;
        }
        .gus_desc {
          display: flex;
          width: 50%;
          flex-direction: column;
          h3 {
            font-size: 20px;
            color: #209F01;
            font-family: "Helvetica Neue Cyr Bold", sans-serif;
            margin-bottom: 20px;
            span {
              color: #4a4e66;
            }
          }
          p {
            line-height: 25px;
            font-family: 'Helvetica Neue Cyr', sans-serif;
            color: #4a4e66;
          }
        }
        button {
          padding: 20px 30px;
          background: #ffde3b;
        }
      }
    }
  }

  .our_objects {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 80px 10px 38px;
      h2 {
        text-transform: uppercase;
        font-size: 32px;
      }
      .our_objects__block {
        margin-top: 60px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        .object {
          background: #e8e9ef;
          padding: 18px 0 20px;
          border-radius: 8px;
          img {
            width: 100%;
          }
          p {
            text-align: center;
            padding: 20px;
            font-size: 18px;
            font-family: 'Helvetica Neue Cyr Bold', sans-serif;
          }
        }
      }
      a {
        margin: 50px 0;
        color: #0165fb;
        font-size: 20px;
      }
      button {
        padding: 24px 60px;
        border-radius: 8px;
        font-size: 22px;
        font-family: 'Helvetica Neue Cyr Medium', sans-serif;
        background: #ffde3b;
      }
      .circle {
        background: white;
        top: 60px;
      }
    }
  }

  .questions {
    background: #e8e9ef;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 80px 10px;
      h2 {
        text-transform: uppercase;
        margin-bottom: 60px;
      }
      .questions_block {
        width: 100%;
        .tab {
          border-radius: 3px; /* Скругляем уголки */
          margin-bottom: 10px; /* Расстояние между пунктами */

          .tab-title {
            font-family: 'Helvetica Neue Cyr Bold', sans-serif;
            background: white;
            color: black;
            text-transform: uppercase;
            cursor: pointer;
            display: flex;
            padding: 20px;
            align-items: center;
            justify-content: space-between;
            .icon_menu {
              position: relative;
              width: 14px;
              &:after {
                content: "";
                border: 8px solid transparent;
                border-top: 10px solid grey;
                position: absolute;
              }
            }

          }
          .tab-content {
            height: 0;
            opacity: 0;
            display: none;
            transition: .1s all linear;
            font-family: 'Helvetica Neue Cyr', sans-serif;
            line-height: 22px;
          }
          input {
            display: none;

            &:checked ~ .tab-content {
              height: 100%;
              opacity: 1;
              padding: 20px;
            }
            &:checked ~ .tab-title  {
              color: #FF8400;
              .icon_menu:after {
                border-top: none;
                border-bottom: 10px solid #FF8400;
              }
            }
            &:checked ~ .tab-content {
              height: auto;
              opacity: 1;
              padding: 20px;
              display: block;
            }
          }


        }

      }
      .circle {
        top: 100px;
        background: #e8e9ef;
      }
    }
  }

  .garanties {
    .container {
      padding: 80px 10px 90px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .garanties_head{
        display: flex;
        border-radius: 10px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background: url("./../img/bg_gar_head.png") no-repeat center center;
        background-size: cover;
        padding: 50px 60px 50px 80px;
        img {
          width: 114px;
          height: 100%;
        }
        .garanties_head__text {
          display: flex;
          flex-direction: column;
          width: 45%;
          h2 {
            font-size: 52px;
            color: white;
            text-transform: none;
          }

          h3 {
            color: white;
            margin-top: 8px;
            font-family: 'Helvetica Neue Cyr', sans-serif;
          }
          p {
            margin-top: 15px;
            font-family: "Helvetica Neue Cyr Thin", sans-serif;
            color: white;
          }
        }
        .garanties_head__button {
          display: flex;
          flex-direction: column;
          font-size: 22px;
          font-family: 'Helvetica Neue Cyr Medium', sans-serif;
          input {
            padding: 20px 25px;
            border: none;
            border-radius: 8px;
            align-items: center;
            color: #4a4e66;
            font-size: 20px;
          }
          a {
            text-align: center;
            padding: 20px 25px;
            background: #ffde3b;
            font-size: 22px;
            border: none;
            border-radius: 8px;
            align-items: center;
            margin-top: 15px;
            text-decoration: none;
            color: black;
          }
        }
      }
      .garanties_wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 0;
        .garanties_wrap__desc {
          width: 100%;
          display: flex;
          margin-top: 60px;
          img {
            width: 50%;
            border-radius: 8px;
          }
          .garanties_wrap__text {
            justify-content: space-between;
            padding: 20px 0 0 50px;
            display: flex;
            flex-direction: column;
            p {
              font-family: "Helvetica Neue Cyr", sans-serif;
              font-size: 18px;
              span {
                font-weight: bold;
              }
            }
            button {
              width: max-content;
              background: #209F01;
              position: relative;
              right: -40%;
            }
          }
        }
      }
      .pechat {
        position: absolute;
        width: 180px;
        height: 170px;
        margin-top: 40%;
        left: 45%;
      }
      .garanties_bottom{
        .garanties_bottom__blocks {
          display: flex;
          width: 100%;
          justify-content: space-between;
          margin-top: 50px;
          .block {
            width: 32%;
            border-radius: 10px;
            padding: 35px 45px;
            padding-bottom: 0;
            color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h3 {
              font-family: 'Helvetica Neue Cyr', sans-serif;
              font-size: 24px;
            }
          }
          .bl_1, .bl_3 {
            background: #FF8400;
          }
          .bl_2 {
            background: #42ac28;
          }
        }
      }
      .circle {
        background: white;
        top: 112px;
      }
    }
  }

  .wy_we {
    background: #e8e9ef;
    .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 80px 0 58px;
      h2 {
        text-transform: uppercase;
        font-family: "Helvetica Neue Cyr Bold";
      }
      .wy_we__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 80px;

        .item_we {
          width: 45%;
          display: flex;
          padding: 5px;
          align-items: center;
          &:nth-child(n + 3) {
            margin-top: 65px;
          }
          img {
            width: 65px;
            margin-right: 30px;
          }
          .item_we_desc {
            h3 {
              font-size: 22px;
              font-family: "Helvetica Neue Cyr Bold", sans-serif;
            }
          }
        }
      }
      .circle {
        background: #e8e9ef;
        top: 80px;
      }
    }
  }
  .reviews {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 75px 10px 53px;
      h2 {

      }
      .reviews__block {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        margin: 75px 0 50px;
        .reviews__item {
          width: 30%;
          border: 1px solid grey;
          padding: 10px 30px 30px;
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          img {
            width: 120px;
            position: relative;
            top: -25px;
            border-radius: 10px;
          }
          h3 {
            color: #4a4e66;
            font-size: 18px;
          }
          p.user_level {
            font-style: italic;
            color: #4a4e66;
            margin-top: 10px;
          }

          p {
            margin-top: 20px;
            font-size: 16px;
            font-family: 'Helvetica Neue Cyr', sans-serif;
            color: black;
          }
        }
      }
      a {
        font-size: 20px;
        font-family: "Helvetica Neue Cyr Bold", sans-serif;
        color: #0165fb;
      }
      .circle {
        background: white;
        top: 75px;
      }
    }
  }
  .about_company {
    background: #e8ecef;
    .container {
      padding: 80px 10px 58px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .about_company_desc {
        margin: 60px 0;
        display: flex;
        width: 100%;
        height: 300px;
        .img_company {
          width: 100%;
          margin-right: 65px;
          background: url("./../img/about_company.png") no-repeat center center;
          background-size: cover;
          border-radius: 10px;
        }
        .about_company_desc_text {
          display: flex;
          flex-direction: column;
          .about_company__text1{
            margin-bottom: 20px;
          }
          p {
            line-height: 30px;
            font-size: 18px;
            font-family: 'Helvetica Neue Cyr', sans-serif;
          }
        }


      }
      button {
        padding: 30px 60px;
        border-radius: 8px;
        background: #ffde3b;
        font-size: 22px;
      }
      .circle {
        background: #e8e9ef;
        top: 80px;
      }
    }
  }
  .contacts {
    .container {
      padding: 75px 10px 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h3 {
        margin-top: 24px;
        font-size: 20px;
        font-family: "Helvetica Neue Cyr Thin", sans-serif;
      }
      .contacts_block{
        position: absolute;
        display: flex;
        flex-direction: column;
        padding: 45px;
        border: 1px solid #e8e9ef;
        border-radius: 10px;
        line-height: 50px;
        font-size: 18px;
        margin-top: 100px;
        background: white;
        z-index: 1;
        a {
          text-decoration: none;
          color: #4a4e66;
          i {
            margin-right: 25px;
          }
        }
        .address {
          display: flex;
          align-items: center;
          p {
            color: #4a4e66;
          }
          img {
            width: 25px;
            display: inline-block;
            color: #4a4e66;
            margin-right: 25px;
          }
        }
      }
    }
    .contacts_map {
    }
  }
}
footer {
  background: #4a4e66;
  .container {
    padding: 50px 10px;
    .main_menu {
      ul {
        display: flex;
        list-style: none;
        justify-content: space-between;
        li {
          a {
            text-decoration: none;
            font-family: "Helvetica Neue Cyr Thin", sans-serif;
            color: white;
            font-size: 17px;
            transition: all 0.2s;
            &:hover {
              font-weight: bold;
            }
          }
        }
      }
    }
    .logo_addr {
      margin-top: 65px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      button {
        padding: 20px 60px;
        border-radius: 8px;
        background: #ffde3b;
        font-size: 22px;
      }
      .address {
        display: flex;
        align-items: center;
        img {
          margin-right: 65px;
          height: 45px;
        }
        .address_contact {
          display: flex;
          flex-direction: column;
          line-height: 25px;
          a {
            text-decoration: none;
            color: #e8e9ef;
            font-family: "Helvetica Neue Cyr Thin", sans-serif;
          }
        }
      }
    }
  }
}
